<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Krust Krabs Recipes</title>
</head>
<style>
    /*ul{*/
        /*text-align: center;*/
    /*}*/
    p{
        text-align: left;
    }
    body{
        background-color:#F5F5F5;
    }
    h1{
        background-color:#B0B0B0;
    }
    /*img{*/
        /*position: absolute;*/
        /*right: 10px;*/
        /*bottom: 0px;*/
        /*z-index: -1;*/
    /*}*/
    ul{
        display:table; margin:0 auto;
    }


</style>
<body>
<h1 align="center">Crabcake Recipe</h1>
<h2 align="center"><b>Ingredients:</b></h2>
<!--list of ingredients, using <ol> to number list in order-->
<!--using <ol> for bullet lists-->
<div text-align="left">
<ul>
    <li>1 lb. jumbo lump or backfin crab meat</li>
    <li>2 slices bread or bread crumbs</li>
    <li>1 tbsp. mayonnaise (light or regular)</li>
    <li>2 tbsp. Dijon mustard</li>
    <li>2 tsp. Old Bay seasoning</li>
    <li>1 tbsp. snipped parsely</li>
    <li>1 egg(or substitute for special diets)</li>
    <li>tartar sauce or cocktail sauce</li>

</ul>
</div>
</body>
<div>
    <h2><b>Directions:</b></h2>

        <!--step1-->
    <p>
        Beat the egg in a bowl. Trim the crusts from the bread
        and break the slices into small pieces.
        Add these pieces to the egg. Mix in the mayonnaise, Dijon mustard,
        Chesapeake seasoning and parsley, and beat well.
    </p>
        <!--step2-->
    <p>
        Place the crabmeat in a bowl and pour the egg mixture over the top.
        Gently toss or fold the ingredients together,
        taking care not to break up the lumps of crabmeat.
    </p>
        <!--step3-->
    <p>
        Form the cakes by hand into patties about 3 inches around and 3/4-inch thick.
        Shape should be like a cookie, not like a meatball or golf ball.
        Place the cakes in the refrigerator for at least 45 minutes before cooking.
        <b>This is very important so the cakes don't fall apart.</b>
    </p>

    <h2>Broil the Crab Cakes:</h2>
        <!--step4-->
    <p>
        Slip them under a preheated broiler until nicely browned,
        turning to cook evenly, about 4 to 5 minutes on each side.
    </p>
    <h2>Or Saute:</h2>
    <p>
        Heat a small amount of butter or olive oil in a skillet and saute the cakes,
        turning several times, until golden brown or about 8 minutes total cooking time.
        <br><br>
        Serve at once with tartar sauce, mustard, or cocktail sauce on the side.
    </p>

    <p><b>Serves 6 people</b></p>
    <hr>
</div>

<div>

    <img src="https://www.onceuponachef.com/images/2010/07/crab-cakes-1.jpg"
         alt="Photo by Patrick Star(Barnacle Books, 2019)" height="350" width="400" align="">
    <p>
        Enjoyed Mr.Krabs Crabby Crabcake, checkout the link below:
    </p>
    <a href="https://www.onceuponachef.com/tag/old-bay-seasoning">Mrs. Puff's boating kitchen</a>

</div>

</body>
</html>